.features div {
  display: flex;
  flex-direction: column;
}

.features__text {
  text-align: center;
  order: 2;
  background-color: var(--white);
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
}

.features__text h2 {
  color: var(--black);
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.features__text p {
  color: var(--gray);
  font-family: 'Barlow', sans-serif;
}

.features__text--links {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.features__text a {
  color: var(--black);
  font-weight: 900;
  text-decoration: none;
  font-family: 'Fraunces', serif;
  z-index: 1000;
}

.features__text--link-border {
  background-color: hsla(51, 100%, 49%, .4);
  border-radius: 1rem;
  position: absolute;
  height: .6rem;
  width: 8rem;
  top: .7rem;
}

.features__image--egg {
  background-image: url("../images/mobile/image-transform.jpg");
  background-repeat: no-repeat;
  height: 20rem;
  background-size: cover;
  background-position: center;
  order: 1;
}

.features__image--cup {
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-repeat: no-repeat;
  height: 20rem;
  background-size: cover;
  background-position: center;
}