.features div {
  display: flex;
  flex-direction: column;
}

.features__text {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  order: 2;
  padding: 3rem 2rem;
  text-align: center;
}

.features__text h2 {
  color: var(--black);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 2rem;
}

.features__text p {
  color: var(--gray);
  font-family: 'Barlow', sans-serif;
  line-height: 2rem;
  opacity: .8;
}

.features__text--links {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}

.features__text a {
  color: var(--black);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-decoration: none;
  z-index: 1000;
}

.features__text--link-border {
  background-color: hsla(51, 100%, 49%, .4);
  border-radius: 1rem;
  height: .6rem;
  position: absolute;
  top: .7rem;
  width: 8rem;
  transition: all .5s;
}

.pink-border--link {
  background-color: hsla(7, 99%, 70%, 0.3)
}


.features__text a:hover + .yellow-border--link {
  background-color: hsl(51, 100%, 49%);
 }

.features__text a:hover + .pink-border--link {
  background-color: hsl(7, 99%, 70%)
}

.features__image--egg {
  background-image: url("../images/mobile/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22rem;
  order: 1;
}

.features__image--cup {
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22rem;
}

.features__image--frutilla {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.features__image--frutilla__text {
 display: flex;
 align-items: center;
}

.features__image--frutilla__text p {
  color: var(--dark-desaturated-cyan);
  font-family: 'Barlow', sans-serif;
  line-height: 1.7rem;
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
  margin: 0;
}

.features__image--frutilla__text h3{
  margin: 0;
  font-size: 2rem;
  font-family: 'Fraunces', sans-serif;
  color: var(--dark-desaturated-cyan);
}

.features__image--naranja {
  background-image: url("../images/mobile/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


.features__image--naranja__text {
 display: flex;
 align-items: center;
 opacity: 0.6;
}

.features__image--naranja__text p {
  color: var(--dark-moderate-cyan);
  font-family: 'Barlow', sans-serif;
  line-height: 1.7rem;
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
  margin: 0;
}

.features__image--naranja__text h3{
  margin: 0;
  font-size: 2rem;
  font-family: 'Fraunces', sans-serif;
  color: var(--dark-moderate-cyan);
}


