.header__nav--desktop {
  display: none;
}


.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

}

.header__nav--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in;
  transform: translate(0, -0.2rem);
}

.header__nav--button:hover {
  opacity: .6;
  transform: scale(1.3);
}

.header__nav--mobile {
  align-items: center;
  background: hsl(46, 55%, 94%);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6rem;
  left: 2rem;
  right: 2rem;
  justify-content: space-around;
  padding: 2rem 0;
}

.header__nav--mobile a {
  color: var(--gray);
  font-family: Barlow;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s;
}
 
.header__nav--mobile a:hover {
  background-color: hsla(213, 9%, 39%, 0.2);
  color: var(--black);
}


.header__nav--mobile button {
  color: var(--black);
  background-color: var(--yellow);
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-family: Fraunces;
  margin: 2rem 0;
  transition: all ease-in 0.3s;
}

.header__nav--mobile button:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.stop-scroll {
  overflow: hidden; 
}
