.testimonials {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 2rem;
  gap: 4rem;
}


.testimonials h3 {
  color: var(--gray);
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  opacity: 0.6;
}

.testimonials__card-para {
  color: var(--gray);
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 1.5rem 0;
}

.testimonials img {
  border-radius: 50%;
  width: 5rem;
}

.testimonials__card-author {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  opacity: 0.9;
}

.testimonials i {
  color: var(--gray);
  font-style: normal;
  font-family: "Barlow", sans-serif;
  opacity: 0.7;
}
